<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/bootstrap.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
      * {
        font-family: "Raleway", sans-serif;
        transition: ease-in-out 50ms;
      }
      body {
        background-color: #f8f9fa;
      }
      .form-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 50%;
        min-width: 400px;
      }
      .log-in {
        padding: 5px;
        margin: 0px 5px;
      }
      .form-group {
        padding: 5px 0px;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row w-100">
        <div class="col d-flex justify-content-center">
          <div class="form-container">
            <h2 class="mb-4">Log In Form</h2>
            <form id="login-form">
              <!-- when using a form, always set the name property
                     It enables the form to be converted into object using FormData class
                     It enables the form to be posted directly to backend using the action parameter
                     the action parameter only needs the path of the url (localhos...... not needed) -->
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder=" Name"
                  required="true"
                />
              </div>
              <div class="form-group">
                <label for="email">email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder=" email"
                  required="true"
                />
              </div>
              <div class="form-group mt-3">
                <label for="password">Password: </label>
                <div class="d-flex">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder=" password "
                    required="true"
                  />
                  <button
                    type="button"
                    class="btn p-1 m-1"
                    onclick="(password.type=='password')?password.type='text':password.type='password'"
                  >
                    show
                  </button>
                </div>
                <label for="con_password">confirm Password: </label>
                <div class="d-flex">
                  <input
                    type="password"
                    class="form-control"
                    id="con_password"
                    name="conpassword"
                    placeholder=" Retype password "
                    required="true"
                  />
                  <button
                    type="button"
                    class="btn p-1 m-1"
                    onclick="(con_password.type=='password')?con_password.type='text':con_password.type='password'"
                  >
                    show
                  </button>
                </div>
              </div>

              <div class="text-center mt-3">
                <button type="submit" class="btn btn-dark w-50">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      const formEl = document.getElementById("login-form");
      formEl.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(formEl);
        const data = Object.fromEntries(formData);
        fetch("/api/register", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((res) => {
            if (res.redirected) {
              // Handle redirect
              window.location.href = res.url;
            } else {
              return res.json();
            }
          })
          .then((data) => {
            if (data.msg == "ok")
              window.location.href = "http://localhost:3000/api/home";
            else {
              console.log(data.msg);
            }
          })
          .catch((error) => console.error("Error:", error));
      });
    </script>
    <script src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
